---
layout: default
---

<h2>Bienvenue au Poitou-Charentes Java User Group !</h2>

<div class="row">
    <div class="col-12 col-md-1">
        <img class="logo-home img-fluid" src="{{ "/assets/images/logo.png" | relative_url }}" alt="Logo" />
    </div>
    <div class="col-12 col-md-11">
        <p>
            Le Poitou-Charentes Java User Group permet aux acteurs et utilisateurs du langage Java de la région Poitou-Charentes (professionnels, communautés open source,universitaires, étudiants) de se rencontrer et d'échanger autour des technologies Java.
        </p>
        <p>
            Chaque mois, une conférence est organisée autour de thèmes "terrain" ou "veille", avec des intervenants d'horizons divers : acteurs des communautés Open Source, éditeurs, entreprises utilisatrices, experts indépendants... Ces évènements donnent lieu à des échanges riches entre utilisateurs des technologies et acteurs de l'évolution de la plate-forme Java.
        </p>
        <p>
            Les réunions sont ouvertes, gratuites et suivies d'un buffet qui permet de prolonger les discussions de façon informelle et conviviale. 
        </p>
    </div>
</div>

<div class="row d-flex flex-column flex-md-row justify-content-md-between">
    <div class="col-12 col-md-8 p-3">
        <h2>Prochaine rencontre</h2>

        {% assign future_events = site.posts | where_exp: "post", "post.date > site.time" %}
        {% if future_events.size == 0 %}
        <p>Aucune rencontre n'est programmée pour le moment...</p>
        {% else %}
        <ul>
        {% for future_event in future_events %}
            {% assign speakers_ids = future_event.speakers | split: "," %}
            {% assign speakers = site.speakers | where_exp:"speaker", "speakers_ids contains speaker.id" %}
            <li>
                <a href="{{ future_event.url | relative_url }}">
                    <span class="event-date">[{{ future_event.date | date: "%d/%m/%Y" }}]</span> <strong>{{ future_event.title }}</strong> par {{ speakers | map: "name" | join: " et "}}
                </a>
            </li>
        {% endfor %}
        </ul>
        {% endif %}

        <h2>Rencontres précédentes</h2>

        {% assign past_events = site.posts | where_exp: "post", "post.date <= site.time" %}
        <ul>
        {% for past_event in past_events limit:7 %}
            {% assign speakers_ids = past_event.speakers | split: "," %}
            {% assign speakers = site.speakers | where_exp:"speaker", "speakers_ids contains speaker.id" %}
            <li>
                <a href="{{ past_event.url | relative_url }}">
                    <span class="event-date">[{{ past_event.date | date: "%d/%m/%Y" }}]</span> <strong>{{ past_event.title }}</strong> par {{ speakers | map: "name" | join: " & "}}
                </a>
            </li>
        {% endfor %}
        </ul>

        <a href="{{ "/rencontres" | relative_url }}"><i class="fa-solid fa-angles-right"></i> Toutes les rencontres</a>
    </div>
    <div class="col-12 col-md-4 p-3 text-center">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Sponsors</h2>
                
                <a href="https://www.serli.com" target="_blank" rel="noreferrer noopener">
                    <img src="{{ "/assets/images/serli.png" | relative_url }}" alt="Serli" />
                </a>

                <h2 class="card-title mt-5">Partenaires</h2>

                <a href="https://www.jetbrains.com/" target="_blank" rel="noreferrer noopener">
                    <img src="{{ "/assets/images/jetbrains.gif" | relative_url }}" alt="Jetbrains" />
                </a>
            </div>
        </div>
    </div>
</div>
