---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.img-logo-home {
    max-height: 150px;
}

.speaker-card {
    display: flow-root;
    margin: 15px 0;

    .speaker-img {
        width: 120px;
    }
}

// Override bootstrap variables here
$font-family-sans-serif:      "Open Sans",system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$primary: #024D6F;
$body-bg: #f8f9fa;

@import "bootstrap";
