---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.logo-home {
    display: none;
}

.speaker-card {
    display: flow-root;
    margin: 15px 0;

    .speaker-img {
        width: 120px;
    }
}

.info-place {
    height: 450px;
    width: 100%;
}

.youtube-video {
    width: 100%;
    height: 315px;
}

.photo-event {
    max-width: 100%;   
}

.event-date {
    font-family: arial;
}

.nav-logo {
    height: 60px;
    margin-right: 10px;
    margin-top: -15px;
    margin-bottom: -15px;
}

// Override bootstrap variables here
$font-family-sans-serif:      "Open Sans",system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$primary: #024D6F;
$body-bg: #f8f9fa;

@import "bootstrap";

@include media-breakpoint-up(lg) {
    .info-event {
        padding-left: 40px;
    }

    .youtube-video {
        height: 315px;
        width: 75%;
    }

    .nav-logo {
        display: none;
    }

    .logo-home {
        display: block;
        max-height: 150px;
    }
}