---
layout: default
---

<div class="row">
    <div class="col-12 col-lg-7">

        <h1>{{ page.title }}</h1>
        
        {{ content }}

        {% if page.youtube_id %}
        <iframe src="https://www.youtube.com/embed/{{ page.youtube_id }}" 
                title="YouTube video player" 
                class="youtube-video"
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
        </iframe>
        {% endif %}
        
        <hr class="mt-4" style="width: 60%; margin: 0 auto;"/>

        {% assign speakers_ids = page.speakers | split: "," %}
        {% for speaker_id in speakers_ids %}
            {% assign speaker = site.speakers | where_exp:"speaker", "speaker.id == speaker_id" | first %}
            {% capture speaker_photo_url %}{{ "/assets/images/speakers/" }}{{ speaker.photo }}{% endcapture %}
            <div class="speaker-card">
                <h3>{{ speaker.name }}</h3>
                <div>
                    <div class="float-start img-thumbnail" style="margin-right: 15px;">
                        <div class="text-center">
                            <img class="speaker-img" src="{{ speaker_photo_url | relative_url }}" alt="{{ speaker.name }}" />
                        </div>
                        {% if speaker.twitter_id %}
                        <div class="text-center">
                            <i class="fa-brands fa-twitter"></i> <a href="https://twitter.com/{{speaker.twitter_id}}" target="_blank" rel="noreferrer noopener">{{speaker.twitter_id}}</a>
                        </div>
                        {% endif %}
                        {% if speaker.github_id %}
                        <div class="text-center">
                            <i class="fa-brands fa-github"></i> <a href="https://github.com/{{speaker.github_id}}" target="_blank" rel="noreferrer noopener">{{speaker.github_id}}</a>
                        </div>
                        {% endif %}
                    </div>
                    {{ speaker.content | markdownify }}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="col-12 col-lg-5 info-event">
        {% assign place = site.places | where_exp:"place", "place.id == page.place" | first %}
        <div class="card mb-3">
            <div class="card-body">
                <h2>Informations pratiques</h2>
                <p>
                    <i class="fa-solid fa-calendar-days"></i> &nbsp;{{ page.date | date: "%A %d %B %Y" | replace:"January","janvier" | replace:"February","février" | replace:"March","mars" | replace:"April","avril" | replace:"May","mai" | replace:"June","juin" | replace:"July","juillet" | replace:"August","août"| replace:"September","septembre" | replace:"October","octobre" | replace:"november","Novembre" | replace:"December","décembre" | replace:"Monday","lundi" | replace:"Tuesday","mardi" | replace:"Wednesday","mercredi" | replace:"Thursday","jeudi" | replace:"Friday","vendredi" | replace:"Saturday","samedi" | replace:"Sunday","dimanche" }}
                    <br/>
                    <i class="fa-solid fa-location-dot"></i> &nbsp;{{ place.name }} - <a href="{{ place.address_url }}" target="_blank" rel="noreferrer noopener">{{ place.address }}</a>
                </p>
                {% if page.date > site.time %}
                <p>
                    <div class="atcb" style="display:none;">
                        {
                            "name":"[Poitou JUG] {{ page.title }}",
                            "startDate":"{{ page.date | date: "%Y-%m-%d" }}",
                            "endDate":"{{ page.date | date: "%Y-%m-%d" }}",
                            "startTime":"{{ page.date | date: "%H:%M" }}",
                            "endTime":"{{ page.date | date: '%s' | plus: 7200 | date: "%H:%M" }}",
                            "location":"{{ place.name }}",
                            "label":"Ajouter au calendrier",
                            "options":[
                            "Google",
                            "Apple",
                            "iCal",
                            "Microsoft365",
                            "MicrosoftTeams",
                            "Outlook.com"
                            ],
                            "timeZoneOffset":"{{ page.date | date: "%:z" }}"
                        }
                        </div>
                </p>
                <p>
                    Merci de vous inscrire en envoyant un mail à <a href="mailto:poitoucharentesjug@gmail.com">poitoucharentesjug@gmail.com</a>
                </p>
                <p>
                    <a class="btn btn-primary" href="mailto:poitoucharentesjug@gmail.com">Je m'inscris !</a>
                </p>
                <p>
                    La soirée sera suivie d'un buffet offert par <a href="https://www.serli.com" target="_blank" rel="noreferrer noopener">SERLI</a>, qui sera l'occasion d'échanges avec nos speakers.
                </p>
                {% else %}
                <p>
                    La soirée s'est suivie d'un buffet offert par <a href="https://www.serli.com" target="_blank" rel="noreferrer noopener">SERLI</a>, qui a été l'occasion d'échanges avec nos speakers.
                </p>
                {% endif %}
            </div>
        </div>
        {{ place.content }}
    </div>
</div>